body {
    background-color: #444444;
    color: #ffffff;
}
a {
    color: #ffff00;
}
a:hover {
    color: #ffff00;
}
footer {
    margin-left: 20px;
}
#main-title {
    margin-left: 20px;
}
.return-top {
    height: 21px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    float: left;
}
#group-list {
    margin: 10px;
}
.group-button {
    margin-right: 10px;
    margin-top: 5px;
    width: 55px;
}
.group-container {
    margin: 20px;
    min-width: 996px;
}
.bracket-turn {
    width: 210px;
}
.bracket-turn:nth-child(1) {
    width: 185px;
}
.bracket-turn:nth-child(5) {
    width: 181px;
}
.match {
    width: 100%;
    height: 50px;
    font-size: 12px;
}
.match-placeholder {
    width: 100%;
    height: 25px;
}
.match-maeline > div {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
}
.match-title {
    width: 29px;
    height: 100%;
    text-align: center;
}
.match-title-href {
    cursor: pointer;
}
.match-players, .group-champion {
    width: 156px;
    height: 100%;
}
.group-champion:before, .group-champion:after {
    width: 100%;
    height: 12px;
}
.player {
    width: 100%;
    height: 22px;
    margin: 2px 0 2px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.player-bye {
    cursor: default;
}
.popover, .popover-content {
    background-color: #888888;
}
.popover-title {
    background-color: #777777;
}
.popover.top>.arrow:after {
    border-top-color: #888888;
}
.player-meta {
    height: 100%;
    float: left;
    padding-top: 4px;
}
.player-group_id {
    width: 26px;
    background-color: #888888;
    color: #000000;
    text-align: center;
}
.player-baidu_id {
    width: 120px;
    background-color: #222222;
    text-indent: 0.5em;
}
.player-tail {
    width: 10px;
    height: 26px;
    margin-top: -2px;
    float: left;
    border: #ffffff solid 0;
}
.player-top .player-tail {
    border-bottom-width: 1px;
}
.player-bottom .player-tail {
    border-top-width: 1px;
}
.match-odd .player-bottom .player-tail {
    border-right-width: 2px;
}
.match-even .player-top .player-tail {
    border-right-width: 2px;
}
.match-odd .match ~ .match-placeholder, .match-even .match-placeholder {
    border-right: solid 2px #ffffff;
}
.match-even .match ~ .match-placeholder {
    border-right: none;
}